/* Allow the window to be dragged from the mainbar */
.toolbar-mainbar
{
    -webkit-app-region: drag;
}

/* Remove header */
#header {
	min-height: 0 !important;
}

/* Hide the vivaldi button when the interface is hidden */
.address-top-off .vivaldi {
    display: none !important;
}

/* Vivaldi button edits */
.vivaldi  {
    /* Keep button */
	z-index: 1;
    /* Custom size */
    height: 46px!important;
    width: 48px!important;
    /* Match visual style of the headerbar */
    background-image: linear-gradient(#2b2b2b, #262626) !important;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #010101;
    margin-top: 1px;
    margin-left: 1px;
    /*Set the color of the logo*/
	color: var(--colorImageForeground, var(--colorFg)) !important;
}

/*Removes weird top padding to center vivaldi button*/
.vivaldi span.application-icon
{
    padding: 0 !important;
}

/* Hide the buttons when the interface is hidden */
.address-top-off .window-buttongroup {
    display: none !important;
}

/* Window controls edits */
.window-buttongroup {
    /* Keep window buttons */
	z-index: 1;
    /* Position: very top right*/
    top: 0px !important;
    right: 0px !important;
    /* Custom size*/
    height: 46px;
    width: 48px;
    /* Center elements */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Match visual style of the headerbar*/
    margin-top: 1px;
    margin-right: 1px;
    background-image: linear-gradient(#2b2b2b, #262626) !important;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #010101;
}

/* Close button edits */
.window-buttongroup .window-close {
    /* Custom size */
    height: 28px !important;
    width: 28px !important;
    border-radius: 50%;
    background: none !important;
    /* Keep a visible color */
	color: var(--colorImageForeground, var(--colorFg)) !important;
    transition: all 0.2s;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

.window-buttongroup .window-close:hover
{
    border: 1px solid #090909 !important;
    background-color: #373737 !important;
}

/* Remove other window buttons */
.window-buttongroup .window-maximize,
.window-buttongroup .window-minimize {
	display: none;
}

/* Address bar edits */
.UrlBar {
    /* Custom height */
    min-height:46px !important;
	/* Leave space for vivaldi button and window controls */
    margin-right: 48px;
    margin-left: 48px;
    /* Visual styling */
    background-image: linear-gradient(#2b2b2b, #262626) !important;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #010101;
}

/* Remove the 1px lines under the buttons */
.address-top .toolbar-mainbar:after
{
    display: none;
}

/* Adds space arounf the address field, more convenient for dragging */
.UrlBar-AddressField {
    margin-right: 50px;
    margin-left: 50px;
}

/* Adds a dark border to the window */
#main
{
    border: 1px solid #202020;
}

/* Remove buttons background */
.toolbar-droptarget,
.toolbar-extensions
{
    background: none !important;
}

/* Set the address field to a lighter color than the background for visibility */
.addressfield
{
	background-color: var(--colorBgLighter) !important;
}

/* Set the color of the toolbar buttons to be visible over the background */
.toolbar-mainbar .button-toolbar button
{
	color: var(--colorImageForeground, var(--colorFg)) !important;
}

/* Center the buttons in the toolbar */
.toolbar-mainbar .button-toolbar
{
    align-self: center;
}
